[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-bin         = /var/log/mysqld/mysql-bin.log
log-error       = /var/log/mysqld/mysql-error.log
secure-file-priv= NULL
symbolic-links  = 0


!includedir /etc/mysql/conf.d/
